.bg-logo::before {
    content: "";
    background-image: url('/ochivemind-logo.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}